.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    z-index: 999;


    display: flex;
    float: right;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.modal-overlay .modal-body {
    background-color: #232121;
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    float: left;
    align-items: flex-start;
}
.modal-form{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    float: left;
    align-items: flex-start;
    height: 80%;

}
.modal-button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    float: left;
    align-items: flex-start;
    padding: 0px;
    height: 12.629%;
    margin: 0px;
    padding: 0px;
    align-content: flex-start;
    flex-wrap: nowrap;
}
.modal-button-fechar{
    position: initial !important;
    background-color: rgb(201 4 4 / 90%) !important;
    border-radius: 0px;
    width: 23%;
    height: 100%;
    font-size: 34px;
    padding: 0px;
    padding-top: 2px;
    animation: 5s ease all !important;
    transition: all 0.5s cubic-bezier(0.39, -0.45, 0, 0.55) 0.1s !important;
}
.modal-button-fechar:hover{
    background-color: rgba(155, 1, 1, 0.9) !important;
    transform: scale(1) !important;
    font-size: 40px;
}
.modal-overlay .modal-body h2 {
    font-size: 24px;
}

.modal-overlay, .modal-body, .input-container {
    display: flex;
    float: right;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.modal-overlay .modal-body input {
    padding: 9px 12px;
    border: 1px solid #e5dbdbc5;
    color: rgb(221 220 220 / 90%);
    font-size: 15px;
    line-height: 21px;
    border-radius: 9px;
    width: 100%;
    margin-bottom: 7px;
}

.modal-overlay .modal-body label {
    color: #dfdfdf;
    font-weight: 750;
    margin-bottom: 8px;
    font-size: 18px;
}

.modal-overlay .modal-body .btn-secondary {
    position: initial;
    width: 100%;
    display: grid;
    bottom: 0px;
    border-radius: 0px;
    margin: 0px;
    align-items: end;
    align-content: space-between;
    justify-content: center;
    height: 100%;
    text-indent: center;
    text-align: center;
    padding-top: 3.5%;
    font-size: 33px;
}

.modal-overlay .modal-body .btn-secondary:hover {
    background-color: #3a44f8;
    transform: scale(1);
}